<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Jump (1).png</key>
			<dict>
				<key>frame</key>
				<string>{{816,1161},{369,394}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,31},{369,394}}</string>
				<key>sourceSize</key>
				<string>{680,472}</string>
			</dict>

			<key>Jump (10).png</key>
			<dict>
				<key>frame</key>
				<string>{{415,0},{402,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,28},{402,444}}</string>
				<key>sourceSize</key>
				<string>{680,472}</string>
			</dict>

			<key>Jump (11).png</key>
			<dict>
				<key>frame</key>
				<string>{{413,1591},{405,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,45},{405,408}}</string>
				<key>sourceSize</key>
				<string>{680,472}</string>
			</dict>

			<key>Jump (12).png</key>
			<dict>
				<key>frame</key>
				<string>{{414,1189},{401,377}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{26,52},{401,377}}</string>
				<key>sourceSize</key>
				<string>{680,472}</string>
			</dict>

			<key>Jump (2).png</key>
			<dict>
				<key>frame</key>
				<string>{{415,827},{382,337}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{71,88},{382,337}}</string>
				<key>sourceSize</key>
				<string>{680,472}</string>
			</dict>

			<key>Jump (3).png</key>
			<dict>
				<key>frame</key>
				<string>{{798,827},{380,333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{73,92},{380,333}}</string>
				<key>sourceSize</key>
				<string>{680,472}</string>
			</dict>

			<key>Jump (4).png</key>
			<dict>
				<key>frame</key>
				<string>{{415,445},{383,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,78},{383,381}}</string>
				<key>sourceSize</key>
				<string>{680,472}</string>
			</dict>

			<key>Jump (5).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1189},{413,401}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,20},{413,401}}</string>
				<key>sourceSize</key>
				<string>{680,472}</string>
			</dict>

			<key>Jump (6).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{414,397}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,19},{414,397}}</string>
				<key>sourceSize</key>
				<string>{680,472}</string>
			</dict>

			<key>Jump (7).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,398},{414,393}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,18},{414,393}}</string>
				<key>sourceSize</key>
				<string>{680,472}</string>
			</dict>

			<key>Jump (8).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,792},{414,396}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,19},{414,396}}</string>
				<key>sourceSize</key>
				<string>{680,472}</string>
			</dict>

			<key>Jump (9).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1591},{412,401}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,20},{412,401}}</string>
				<key>sourceSize</key>
				<string>{680,472}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>